## ANALYZING MARVEL CHARACTER STRENGTHS

#### In this notebook, I am going to analyze Marvel characters using SQL

I will be using SQL to store the data and to make queries using ipython-SQL in Jupyter Notebook.

In [1]:
#importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## To install i-python SQL simply run this command

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/arjun/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in /home/arjun/.local/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/lib/python3/dist-packages (from ipython-sql) (7.13.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/arjun/.local/lib/python3.8/site-packages (from ipython-sql) (1.3.19)
Requirement already satisfied: sqlparse in /home/arjun/.local/lib/python3.8/site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/lib/python3/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: pexpect in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Note: you may need to restart the kernel to use updated packages.

### Loading the SQL module

In [3]:
%load_ext sql

## Creating a connection string to connect to the Database

In [4]:
%sql sqlite://

### Now, we're ready. Time to create a table and analyze .

I've decided to name my table Marvels and then insert character informations.

In [5]:
%%sql
CREATE TABLE marvels (ID INTEGER PRIMARY KEY,
    name TEXT,
    popularity INTEGER,
    alignment TEXT,
    gender TEXT, 
    height_m NUMERIC,
    weight_kg NUMERIC,
    hometown TEXT,
    intelligence INTEGER,
    strength INTEGER,
    speed INTEGER,
    durability INTEGER,
    energy_Projection INTEGER,
    fighting_Skills INTEGER);
    
INSERT INTO marvels VALUES(1, "Spider Man", 1, "Good", "Male", 1.78, 75.75, "USA", 4, 4, 3, 3, 1, 4); 
INSERT INTO marvels VALUES(2, "Iron Man", 20, "Neutral", "Male", 1.98, 102.58, "USA", 6, 6, 5, 6, 6, 4); 
INSERT INTO marvels VALUES(3, "Hulk", 18, "Neutral", "Male", 2.44, 635.29, "USA", 1, 7, 3, 7, 5, 4); 
INSERT INTO marvels VALUES(4, "Wolverine", 3, "Good", "Male", 1.6, 88.46, "Canada", 2, 4, 2, 4, 1, 7);
INSERT INTO marvels VALUES(5, "Thor", 5, "Good", "Male", 1.98, 290.3, "Asgard", 2, 7, 7, 6, 6, 4);
INSERT INTO marvels VALUES(6, "Green Goblin", 91, "Bad", "Male", 1.93, 174.63, "USA", 4, 4, 3, 4, 3, 3);
INSERT INTO marvels VALUES(7, "Magneto", 11, "Neutral", "Male", 1.88, 86.18, "Germany", 6, 3, 5, 4, 6, 4);
INSERT INTO marvels VALUES(8, "Thanos", 47, "Bad", "Male", 2.01, 446.79, "Titan", 6, 7, 7, 6, 6, 4);
INSERT INTO marvels VALUES(9, "Loki", 32, "Bad", "Male", 1.93, 238.14, "Jotunheim", 5, 5, 7, 6, 6, 3);
INSERT INTO marvels VALUES(10, "Doctor Doom", 19, "Bad", "Male", 2.01, 188.24, "Latveria", 6, 4, 5, 6, 6, 4);
INSERT INTO marvels VALUES(11, "Jean Grey", 8, "Good", "Female", 1.68, 52.16, "USA", 3, 2, 7, 7, 7, 4);
INSERT INTO marvels VALUES(12, "Rogue", 4, "Good", "Female", 1.73, 54.43, "USA", 7, 7, 7, 7, 7, 7);
INSERT INTO Marvels VALUES(13, "Storm", 2, "Good", "Female", 1.80, 66, "Kenya", 2, 2, 3, 2, 5, 4);
INSERT INTO Marvels VALUES(14, "Nightcrawler", 6, "Good", "Male", 1.75, 73, "Germany", 3, 2, 7, 2, 1, 3);
INSERT INTO Marvels VALUES(15, "Gambit", 7, "Good", "Male", 1.88, 81, "EUA", 2, 2, 2, 2, 2, 4);
INSERT INTO Marvels VALUES(16, "Captain America", 9, "Good", "Male", 1.88, 108, "EUA", 3, 3, 2, 3, 1, 6);
INSERT INTO Marvels VALUES(17, "Cyclops", 10, "Good", "Male", 1.90, 88, "EUA", 3, 2, 2, 2, 5, 4);
INSERT INTO Marvels VALUES(18, "Emma Frost", 12, "Neutral", "Female", 1.78, 65, "EUA", 4, 4, 2, 5, 5, 3);
INSERT INTO Marvels VALUES(19, "Kitty Pryde", 13, "Good", "Female", 1.68, 50, "EUA", 4, 2, 2, 3, 1, 5);
INSERT INTO Marvels VALUES(20, "Daredevil", 14, "Good", "Male", 1.83, 91, "EUA", 3, 3, 2, 2, 4, 5);
INSERT INTO Marvels VALUES(21, "Punisher", 50, "Neutral", "Male", 1.85, 91, "EUA", 3, 3, 2, 2, 1, 6);
INSERT INTO Marvels VALUES(22, "Silver Surfer", 33, "Good", "Male", 1.93, 102, "Zenn-La", 3, 7, 7, 6, 7, 2);
INSERT INTO Marvels VALUES(23, "Ghost Rider", 86, "Good", "Male", 1.88, 99, "EUA", 2, 4, 3, 5, 4, 2);
INSERT INTO Marvels VALUES(24, "Venon", 78, "Neutral", "Male", 1.90, 118, "EUA", 3, 4, 2, 6, 1, 4);
INSERT INTO Marvels VALUES(25, "Juggernaut", 76, "Neutral", "Male", 2.87, 862, "EUA", 2, 7, 2, 7, 1, 4);
INSERT INTO Marvels VALUES(26, "Professor X", 58, "Good", "Male", 1.83, 86, "EUA", 5, 2, 2, 2, 5, 3);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [7]:
#let's see the table

In [10]:
%%sql
SELECT * FROM MARVELS

 * sqlite://
Done.

[(1, 'Spider Man', 1, 'Good', 'Male', 1.78, 75.75, 'USA', 4, 4, 3, 3, 1, 4),
 (2, 'Iron Man', 20, 'Neutral', 'Male', 1.98, 102.58, 'USA', 6, 6, 5, 6, 6, 4),
 (3, 'Hulk', 18, 'Neutral', 'Male', 2.44, 635.29, 'USA', 1, 7, 3, 7, 5, 4),
 (4, 'Wolverine', 3, 'Good', 'Male', 1.6, 88.46, 'Canada', 2, 4, 2, 4, 1, 7),
 (5, 'Thor', 5, 'Good', 'Male', 1.98, 290.3, 'Asgard', 2, 7, 7, 6, 6, 4),
 (6, 'Green Goblin', 91, 'Bad', 'Male', 1.93, 174.63, 'USA', 4, 4, 3, 4, 3, 3),
 (7, 'Magneto', 11, 'Neutral', 'Male', 1.88, 86.18, 'Germany', 6, 3, 5, 4, 6, 4),
 (8, 'Thanos', 47, 'Bad', 'Male', 2.01, 446.79, 'Titan', 6, 7, 7, 6, 6, 4),
 (9, 'Loki', 32, 'Bad', 'Male', 1.93, 238.14, 'Jotunheim', 5, 5, 7, 6, 6, 3),
 (10, 'Doctor Doom', 19, 'Bad', 'Male', 2.01, 188.24, 'Latveria', 6, 4, 5, 6, 6, 4),
 (11, 'Jean Grey', 8, 'Good', 'Female', 1.68, 52.16, 'USA', 3, 2, 7, 7, 7, 4),
 (12, 'Rogue', 4, 'Good', 'Female', 1.73, 54.43, 'USA', 7, 7, 7, 7, 7, 7),
 (13, 'Storm', 2, 'Good', 'Female', 1.8, 66, 'Kenya', 2, 2, 3, 2, 5, 4),
 (14, 'Nightcrawler', 6, 'Good', 'Male', 1.75, 73, 'Germany', 3, 2, 7, 2, 1, 3),
 (15, 'Gambit', 7, 'Good', 'Male', 1.88, 81, 'EUA', 2, 2, 2, 2, 2, 4),
 (16, 'Captain America', 9, 'Good', 'Male', 1.88, 108, 'EUA', 3, 3, 2, 3, 1, 6),
 (17, 'Cyclops', 10, 'Good', 'Male', 1.9, 88, 'EUA', 3, 2, 2, 2, 5, 4),
 (18, 'Emma Frost', 12, 'Neutral', 'Female', 1.78, 65, 'EUA', 4, 4, 2, 5, 5, 3),
 (19, 'Kitty Pryde', 13, 'Good', 'Female', 1.68, 50, 'EUA', 4, 2, 2, 3, 1, 5),
 (20, 'Daredevil', 14, 'Good', 'Male', 1.83, 91, 'EUA', 3, 3, 2, 2, 4, 5),
 (21, 'Punisher', 50, 'Neutral', 'Male', 1.85, 91, 'EUA', 3, 3, 2, 2, 1, 6),
 (22, 'Silver Surfer', 33, 'Good', 'Male', 1.93, 102, 'Zenn-La', 3, 7, 7, 6, 7, 2),
 (23, 'Ghost Rider', 86, 'Good', 'Male', 1.88, 99, 'EUA', 2, 4, 3, 5, 4, 2),
 (24, 'Venon', 78, 'Neutral', 'Male', 1.9, 118, 'EUA', 3, 4, 2, 6, 1, 4),
 (25, 'Juggernaut', 76, 'Neutral', 'Male', 2.87, 862, 'EUA', 2, 7, 2, 7, 1, 4),
 (26, 'Professor X', 58, 'Good', 'Male', 1.83, 86, 'EUA', 5, 2, 2, 2, 5, 3)]

The table looks pretty good now let's start doing some EDA on it!!

## Q) Which character has the maximum strength?

In [11]:
%%sql
SELECT NAME, MAX(STRENGTH) FROM MARVELS

 * sqlite://
Done.

[('Hulk', 7)]

Thought so ! let's try more.

## Q) Which Character has the most speed?

In [12]:
%%sql
SELECT NAME, MAX(SPEED) FROM MARVELS

 * sqlite://
Done.

[('Thor', 7)]

Cool ! So, Thor is the fastest character.

## Q) Which Character has the best fighting skills?

In [14]:
%%sql
SELECT NAME , MAX(FIGHTING_SKILLS) FROM MARVELS

 * sqlite://
Done.

[('Wolverine', 7)]

Very well. Wolverine is the winner here.

## Q) Which is the most intelligent character?

In [15]:
%%sql
SELECT NAME , MAX(INTELLIGENCE) FROM MARVELS

 * sqlite://
Done.

[('Rogue', 7)]

Rogue is the winner here.

## Q)What is the number of male heroes in our Data?

In [17]:
%%sql
SELECT COUNT(*) AS NUMBER_OF_MALE_HEROES FROM MARVELS WHERE GENDER ="Male"

 * sqlite://
Done.

[(21,)]

## Q) Similarly count the number of female heroes in the Data

In [18]:
%%sql 
SELECT COUNT(*) AS NUMBER_OF_FEMALE_HEROES FROM MARVELS WHERE GENDER="Female"

 * sqlite://
Done.

[(5,)]

### Wow! there's clearly a lot of bias visible

Anyways, moving on.

## Q) Display the number of good, bad and neutral character.

In [22]:
%%sql
SELECT COUNT(*) AS Count , CASE
WHEN alignment=="Bad" then "bad" 
WHEN alignment=="Good" then "good" 
ELSE "Neutral"
end "typeofchar"  from Marvels group by typeofchar;

 * sqlite://
Done.

[(7, 'Neutral'), (4, 'bad'), (15, 'good')]

I guess it's a good thing that good characters are in abundance.

## Q) Select all the bad characters from USA

In [23]:
%%sql
SELECT NAME , HOMETOWN FROM MARVELS WHERE ALIGNMENT=="Bad" AND HOMETOWN="USA"

 * sqlite://
Done.

[('Green Goblin', 'USA')]

Just Green Goblin.

Let's see all the characters from USA and their alignments.

In [25]:
%%sql
SELECT NAME, HOMETOWN, ALIGNMENT FROM MARVELS WHERE HOMETOWN="USA"

 * sqlite://
Done.

[('Spider Man', 'USA', 'Good'),
 ('Iron Man', 'USA', 'Neutral'),
 ('Hulk', 'USA', 'Neutral'),
 ('Green Goblin', 'USA', 'Bad'),
 ('Jean Grey', 'USA', 'Good'),
 ('Rogue', 'USA', 'Good')]

## Q) Select all the characters from USA or neutral.

In [27]:
%%sql
SELECT NAME AS NEUTRAL_CHARACTERS_OR_FROM_USA FROM MARVELS WHERE ALIGNMENT="Neutral" OR HOMETOWN= "USA"

 * sqlite://
Done.

[('Spider Man',),
 ('Iron Man',),
 ('Hulk',),
 ('Green Goblin',),
 ('Magneto',),
 ('Jean Grey',),
 ('Rogue',),
 ('Emma Frost',),
 ('Punisher',),
 ('Venon',),
 ('Juggernaut',)]

Great!

I will be adding more notebooks where I will do visualizations and EDA on this data.